/*
 * You should write your CSS in this file.  Don't forget to add your name and
 * @oregonstate.edu email address below.
 *
 * name: Maximillian LaBruno
 * email: labrunom@oregonstate.edu
 */

/* Optional reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 400px;
    margin: 5px;
    padding: 10px;
    border: 4px solid black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center:
}
    
